<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <!-- トークン -->
      <add key="ConsumerKey" value="設定すること"/>
      <add key="ConsumerSecret" value="設定すること"/>
      <add key="AccessToken" value="設定すること"/>
      <add key="AccessSecret" value="設定すること"/>
    </appSettings>
</configuration>